/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
*/

:root {
  --clr-primary-pale-blue: hsl(225, 100%, 94%);
  --clr-primary-bright-blue: hsl(245, 75%, 52%);

  --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --clr-neutral-dark-blue: hsl(223, 47%, 23%);

  --ff-base: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--ff-base);
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.6rem;
  background-color: var(--clr-primary-pale-blue);
  color: var(--clr-neutral-desaturated-blue);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32.7rem;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}

.card-order--summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.card-order--title {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--clr-neutral-dark-blue);
  margin: 3rem 0 2rem;
}

.card-order--text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.card-order--billing {
  background-color: var(--clr-neutral-very-pale-blue);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1.6rem;
}

.card-order--icon {
  margin-right: 1.5rem;
}

.card-order--plan {
  color: var(--clr-neutral-dark-blue);
  font-weight: 900;
}

.card-order--btn__hide {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-order--change {
  text-decoration: underline;
  color: var(--clr-primary-bright-blue);
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 3rem;
}

.card-order--change:active {
  color: hsl(245, 66%, 66%);
}

.card-order--btn {
  width: 100%;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
  background: var(--clr-primary-bright-blue);
  color: #fff;
  margin: 2rem 0;
}

.card-order--btn:active {
  background: hsl(245, 66%, 66%);
}

.card-order--cancel {
  color: var(--clr-neutral-desaturated-blue);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.card-order--cancel:active {
  color: black;
}
